In [105]:
import numpy as np
import pandas as pd
from datetime import date

In [106]:
df=pd.read_csv(r"C:\Users\bahar.inan\Downloads\MTA_Subway_Hourly_Ridership__Beginning_February_2022.csv")
#df=pd.read_csv('https://data.ny.gov/resource/wujg-7c2s.csv')

#df = pd.read_csv('https://data.ny.gov/resource/k7j9-jnct.csv')
df

,transit_timestamp,station_complex_id,station_complex,borough,routes,payment_method,ridership,transfers,latitude,longitude,Georeference
0,06/27/2022 03:00:00 AM,R412,Hunts Point Av (6),BX,6,all,24,0,40.820950,-73.89055,POINT (-73.89055 40.82095)
1,07/25/2022 03:00:00 AM,R412,Hunts Point Av (6),BX,6,all,16,0,40.820950,-73.89055,POINT (-73.89055 40.82095)
2,02/06/2022 09:00:00 PM,R624,Kingston Av (3),BK,3,all,26,0,40.669400,-73.94216,POINT (-73.94216 40.6694)
3,02/07/2022 12:00:00 AM,R624,Kingston Av (3),BK,3,all,2,0,40.669400,-73.94216,POINT (-73.94216 40.6694)
4,02/05/2023 10:00:00 PM,R252,103 St (6),M,6,all,56,0,40.790600,-73.94748,POINT (-73.94748 40.7906)
...,...,...,...,...,...,...,...,...,...,...,...
4956081,05/05/2022 01:00:00 PM,R419,Zerega Av (6),BX,6,all,79,0,40.836487,-73.84704,POINT (-73.84704 40.836487)
4956082,02/15/2023 04:00:00 PM,R419,Zerega Av (6),BX,6,all,119,0,40.836487,-73.84704,POINT (-73.84704 40.836487)
4956083,02/12/2023 07:00:00 AM,R419,Zerega Av (6),BX,6,all,38,0,40.836487,-73.84704,POINT (-73.84704 40.836487)
4956084,07/22/2022 08:00:00 PM,R419,Zerega Av (6),BX,6,all,26,0,40.836487,-73.84704,POINT (-73.84704 40.836487)
4956085,12/14/2022 07:00:00 AM,R419,Zerega Av (6),BX,6,all,319,0,40.836487,-73.84704,POINT (-73.84704 40.836487)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4956086 entries, 0 to 4956085
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   transit_timestamp   object
 1   station_complex_id  object
 2   station_complex     object
 3   borough             object
 4   routes              object
 5   payment_method      object
 6   ridership           int64
 7   transfers           int64
 8   latitude            float64
 9   longitude           float64
 10  Georeference        object
dtypes: float64(2), int64(2), object(7)
memory usage: 415.9+ MB

In [108]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ridership,4956086.0,295.316305,624.966177,1.000000,33.000000,119.00000,316.000000,24840.000000
transfers,4956086.0,12.297784,47.579662,0.000000,0.000000,2.00000,9.000000,2374.000000
latitude,4956086.0,40.730706,0.079809,40.576126,40.675377,40.72028,40.793920,40.903126
longitude,4956086.0,-73.932529,0.056542,-74.030876,-73.979920,-73.94405,-73.896736,-73.755400

In [109]:
df[df.duplicated()] #tekrar eden deger yok

Empty DataFrame
Columns: [transit_timestamp, station_complex_id, station_complex, borough, routes, payment_method, ridership, transfers, latitude, longitude, Georeference]
Index: []

In [110]:
df.isnull().sum() #null deger yok

transit_timestamp     0
station_complex_id    0
station_complex       0
borough               0
routes                0
payment_method        0
ridership             0
transfers             0
latitude              0
longitude             0
Georeference          0
dtype: int64

In [111]:
df['date']=pd.to_datetime(df['transit_timestamp']).dt.date  # timestamp iÃ§inden tarihi aldÄ±k.
df

,transit_timestamp,station_complex_id,station_complex,borough,routes,payment_method,ridership,transfers,latitude,longitude,Georeference,date
0,06/27/2022 03:00:00 AM,R412,Hunts Point Av (6),BX,6,all,24,0,40.820950,-73.89055,POINT (-73.89055 40.82095),2022-06-27
1,07/25/2022 03:00:00 AM,R412,Hunts Point Av (6),BX,6,all,16,0,40.820950,-73.89055,POINT (-73.89055 40.82095),2022-07-25
2,02/06/2022 09:00:00 PM,R624,Kingston Av (3),BK,3,all,26,0,40.669400,-73.94216,POINT (-73.94216 40.6694),2022-02-06
3,02/07/2022 12:00:00 AM,R624,Kingston Av (3),BK,3,all,2,0,40.669400,-73.94216,POINT (-73.94216 40.6694),2022-02-07
4,02/05/2023 10:00:00 PM,R252,103 St (6),M,6,all,56,0,40.790600,-73.94748,POINT (-73.94748 40.7906),2023-02-05
...,...,...,...,...,...,...,...,...,...,...,...,...
4956081,05/05/2022 01:00:00 PM,R419,Zerega Av (6),BX,6,all,79,0,40.836487,-73.84704,POINT (-73.84704 40.836487),2022-05-05
4956082,02/15/2023 04:00:00 PM,R419,Zerega Av (6),BX,6,all,119,0,40.836487,-73.84704,POINT (-73.84704 40.836487),2023-02-15
4956083,02/12/2023 07:00:00 AM,R419,Zerega Av (6),BX,6,all,38,0,40.836487,-73.84704,POINT (-73.84704 40.836487),2023-02-12
4956084,07/22/2022 08:00:00 PM,R419,Zerega Av (6),BX,6,all,26,0,40.836487,-73.84704,POINT (-73.84704 40.836487),2022-07-22
4956085,12/14/2022 07:00:00 AM,R419,Zerega Av (6),BX,6,all,319,0,40.836487,-73.84704,POINT (-73.84704 40.836487),2022-12-14

In [112]:
df.date.max()

datetime.date(2023, 6, 14)

In [113]:
df_1=df[(df['date'] >=pd.to_datetime('2023-03-01').date()) & (df['date'] <=pd.to_datetime('2023-05-31').date())]
df_1 # veri setini filtreledik. (Mart-MayÄ±s)

,transit_timestamp,station_complex_id,station_complex,borough,routes,payment_method,ridership,transfers,latitude,longitude,Georeference,date
14,05/22/2023 08:00:00 PM,R170,103 St (1),M,1,all,388,4,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22
19,05/26/2023 05:00:00 AM,R252,103 St (6),M,6,all,93,1,40.790600,-73.947480,POINT (-73.94748 40.7906),2023-05-26
25,05/02/2023 09:00:00 PM,H007,1 Av (L),M,L,all,663,15,40.730953,-73.981630,POINT (-73.98163 40.730953),2023-05-02
32,05/27/2023 01:00:00 PM,R252,103 St (6),M,6,all,318,1,40.790600,-73.947480,POINT (-73.94748 40.7906),2023-05-27
33,05/02/2023 06:00:00 PM,R252,103 St (6),M,6,all,489,5,40.790600,-73.947480,POINT (-73.94748 40.7906),2023-05-02
...,...,...,...,...,...,...,...,...,...,...,...,...
4956059,04/05/2023 08:00:00 AM,R419,Zerega Av (6),BX,6,all,242,0,40.836487,-73.847040,POINT (-73.84704 40.836487),2023-04-05
4956067,03/29/2023 05:00:00 AM,R419,Zerega Av (6),BX,6,all,104,0,40.836487,-73.847040,POINT (-73.84704 40.836487),2023-03-29
4956076,03/24/2023 03:00:00 AM,R419,Zerega Av (6),BX,6,all,5,0,40.836487,-73.847040,POINT (-73.84704 40.836487),2023-03-24
4956077,05/15/2023 04:00:00 PM,R419,Zerega Av (6),BX,6,all,113,0,40.836487,-73.847040,POINT (-73.84704 40.836487),2023-05-15
4956080,03/15/2023 01:00:00 PM,R419,Zerega Av (6),BX,6,all,75,2,40.836487,-73.847040,POINT (-73.84704 40.836487),2023-03-15

In [114]:
df_1['time']=pd.to_datetime(df_1['transit_timestamp']).dt.time
df_1 #filtrelenmiÅŸ veri seti Ã¼zerindeki timestamp iÃ§inden time aldÄ±k.

C:\Users\bahar.inan\AppData\Local\Temp\ipykernel_22152\2777782915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['time']=pd.to_datetime(df_1['transit_timestamp']).dt.time

,transit_timestamp,station_complex_id,station_complex,borough,routes,payment_method,ridership,transfers,latitude,longitude,Georeference,date,time
14,05/22/2023 08:00:00 PM,R170,103 St (1),M,1,all,388,4,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,20:00:00
19,05/26/2023 05:00:00 AM,R252,103 St (6),M,6,all,93,1,40.790600,-73.947480,POINT (-73.94748 40.7906),2023-05-26,05:00:00
25,05/02/2023 09:00:00 PM,H007,1 Av (L),M,L,all,663,15,40.730953,-73.981630,POINT (-73.98163 40.730953),2023-05-02,21:00:00
32,05/27/2023 01:00:00 PM,R252,103 St (6),M,6,all,318,1,40.790600,-73.947480,POINT (-73.94748 40.7906),2023-05-27,13:00:00
33,05/02/2023 06:00:00 PM,R252,103 St (6),M,6,all,489,5,40.790600,-73.947480,POINT (-73.94748 40.7906),2023-05-02,18:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4956059,04/05/2023 08:00:00 AM,R419,Zerega Av (6),BX,6,all,242,0,40.836487,-73.847040,POINT (-73.84704 40.836487),2023-04-05,08:00:00
4956067,03/29/2023 05:00:00 AM,R419,Zerega Av (6),BX,6,all,104,0,40.836487,-73.847040,POINT (-73.84704 40.836487),2023-03-29,05:00:00
4956076,03/24/2023 03:00:00 AM,R419,Zerega Av (6),BX,6,all,5,0,40.836487,-73.847040,POINT (-73.84704 40.836487),2023-03-24,03:00:00
4956077,05/15/2023 04:00:00 PM,R419,Zerega Av (6),BX,6,all,113,0,40.836487,-73.847040,POINT (-73.84704 40.836487),2023-05-15,16:00:00
4956080,03/15/2023 01:00:00 PM,R419,Zerega Av (6),BX,6,all,75,2,40.836487,-73.847040,POINT (-73.84704 40.836487),2023-03-15,13:00:00

In [115]:
df_1[(df_1['date']==pd.to_datetime('2023-05-22').date()) & (df_1['station_complex'].str.strip()=='103 St (1)')] 

#ridership bilgisinin kÃ¼mÃ¼le gitmediÄŸini saatlik toplamÄ± verdiÄŸini gÃ¶rdÃ¼k.

,transit_timestamp,station_complex_id,station_complex,borough,routes,payment_method,ridership,transfers,latitude,longitude,Georeference,date,time
14,05/22/2023 08:00:00 PM,R170,103 St (1),M,1,all,388,4,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,20:00:00
3202,05/22/2023 05:00:00 PM,R170,103 St (1),M,1,all,640,12,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,17:00:00
3401,05/22/2023 02:00:00 AM,R170,103 St (1),M,1,all,9,0,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,02:00:00
8111,05/22/2023 05:00:00 AM,R170,103 St (1),M,1,all,60,0,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,05:00:00
9630,05/22/2023 01:00:00 PM,R170,103 St (1),M,1,all,469,6,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,13:00:00
10469,05/22/2023 01:00:00 AM,R170,103 St (1),M,1,all,9,0,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,01:00:00
10826,05/22/2023 06:00:00 AM,R170,103 St (1),M,1,all,215,0,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,06:00:00
11145,05/22/2023 04:00:00 PM,R170,103 St (1),M,1,all,623,9,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,16:00:00
13498,05/22/2023 12:00:00 PM,R170,103 St (1),M,1,all,465,8,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,12:00:00
13790,05/22/2023 09:00:00 PM,R170,103 St (1),M,1,all,242,1,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,21:00:00
15267,05/22/2023 08:00:00 AM,R170,103 St (1),M,1,all,1038,8,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,08:00:00
19397,05/22/2023 03:00:00 PM,R170,103 St (1),M,1,all,652,6,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,15:00:00
19811,05/22/2023 12:00:00 AM,R170,103 St (1),M,1,all,34,0,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,00:00:00
20963,05/22/2023 10:00:00 PM,R170,103 St (1),M,1,all,165,1,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,22:00:00
22691,05/22/2023 03:00:00 AM,R170,103 St (1),M,1,all,4,0,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,03:00:00
24657,05/22/2023 09:00:00 AM,R170,103 St (1),M,1,all,663,5,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,09:00:00
24674,05/22/2023 07:00:00 AM,R170,103 St (1),M,1,all,670,6,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,07:00:00
27792,05/22/2023 06:00:00 PM,R170,103 St (1),M,1,all,601,3,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,18:00:00
30710,05/22/2023 11:00:00 AM,R170,103 St (1),M,1,all,425,0,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,11:00:00
31824,05/22/2023 10:00:00 AM,R170,103 St (1),M,1,all,463,2,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,10:00:00
31953,05/22/2023 04:00:00 AM,R170,103 St (1),M,1,all,24,0,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,04:00:00
32790,05/22/2023 11:00:00 PM,R170,103 St (1),M,1,all,72,0,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,23:00:00
34588,05/22/2023 02:00:00 PM,R170,103 St (1),M,1,all,456,8,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,14:00:00
34986,05/22/2023 07:00:00 PM,R170,103 St (1),M,1,all,450,8,40.799446,-73.968376,POINT (-73.968376 40.799446),2023-05-22,19:00:00

In [116]:
def time_grouping(time):
    if time >= pd.to_datetime('07:00:00').time() and time <pd.to_datetime('09:00:00').time():
        return '1 07_09 Morning'
    elif time >= pd.to_datetime('09:00:00').time() and time <pd.to_datetime('12:00:00').time():
        return '2 09_12 Late Morning'
    elif time >= pd.to_datetime('12:00:00').time() and time <pd.to_datetime('14:00:00').time():
        return '3 12_14 Afternoon'
    elif time >= pd.to_datetime('14:00:00').time() and time <pd.to_datetime('17:00:00').time():
        return '4 14_17 Late Afternoon'
    elif time >= pd.to_datetime('17:00:00').time() and time <pd.to_datetime('19:00:00').time():
        return '5 17_19 Evening'
    elif time >= pd.to_datetime('19:00:00').time() and time <pd.to_datetime('23:00:00').time():
        return '6 19_23 Night'
    else:
        return '7 Late Night'

In [117]:
df_1['time_group']=df_1['time'].apply(time_grouping) #saatleri grupladÄ±k.

C:\Users\bahar.inan\AppData\Local\Temp\ipykernel_22152\1224457176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['time_group']=df_1['time'].apply(time_grouping) #saatleri grupladÄ±k.

In [118]:
df_2=df_1.loc[::,['station_complex','ridership','date','time','time_group']]
df_2 #istediÄŸimiz kolonlarÄ± seÃ§tik.

,station_complex,ridership,date,time,time_group
14,103 St (1),388,2023-05-22,20:00:00,6 19_23 Night
19,103 St (6),93,2023-05-26,05:00:00,7 Late Night
25,1 Av (L),663,2023-05-02,21:00:00,6 19_23 Night
32,103 St (6),318,2023-05-27,13:00:00,3 12_14 Afternoon
33,103 St (6),489,2023-05-02,18:00:00,5 17_19 Evening
...,...,...,...,...,...
4956059,Zerega Av (6),242,2023-04-05,08:00:00,1 07_09 Morning
4956067,Zerega Av (6),104,2023-03-29,05:00:00,7 Late Night
4956076,Zerega Av (6),5,2023-03-24,03:00:00,7 Late Night
4956077,Zerega Av (6),113,2023-05-15,16:00:00,4 14_17 Late Afternoon
4956080,Zerega Av (6),75,2023-03-15,13:00:00,3 12_14 Afternoon

In [148]:
df_grouped=df_2.groupby(['station_complex'])[['ridership']].sum().sort_values('ridership', ascending=False).reset_index().head(10)
df_grouped #en yoÄŸun ilk 10 istasyonu bulduk. SÄ±rada bu istasyonlarÄ±n en yoÄŸun saatlerini bulmak var.

                                     station_complex  ridership
0  Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,...   13572894
1                    Grand Central-42 St (S,4,5,6,7)    7696391
2                  34 St-Herald Sq (B,D,F,M,N,Q,R,W)    6032959
3                   14 St-Union Sq (L,N,Q,R,W,4,5,6)    5603739
4                        Fulton St (A,C,J,Z,2,3,4,5)    4517278
5                         34 St-Penn Station (A,C,E)    4171614
6                  59 St-Columbus Circle (A,B,C,D,1)    4126272
7                         34 St-Penn Station (1,2,3)    3849456
8                               Flushing-Main St (7)    3519628
9  74-Broadway (7)/Jackson Hts-Roosevelt Av (E,F,...    3504982

In [164]:
df_2['station_complex'].any()

True

In [169]:
df_grouped_2=df_2[df_2.station_complex in list(df_grouped.station_complex.values)].groupby(['time_group'])[['ridership']].sum().sort_values('ridership', ascending=False)
df_grouped_2

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().